.CarouselSlide {
  overflow: hidden;
  position: relative;
}
.CarouselSlide .CarItemsBox {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  position: relative;
}
.CarouselSlide .CarItemsBox .CarItem {
  width: 100%;
  height: 100%;
  flex: 0 0 auto;
}
.CarouselSlide .CarItemsBox .CarItem a {
  display: block;
  width: 100%;
  height: 100%;
  cursor: default;
}
.CarouselSlide .CarItemsBox .CarItem img {
  width: 100%;
  height: 100%;
}
.CarouselSlide .CarLeft,
.CarouselSlide .CarRight {
  user-select: none;
  cursor: pointer;
}
